# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment / secrets
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Python build files
build/
dist/
*.egg-info/

# Local/session files
:memory:.ses

# Large uploaded videos
data/uploads/*.mp4